#ignore config files
/server/config/local.env.js
/server/config/firebase.admin.js
/server/config/firebaseConfig.json

#ignore any images

#ignore node modules
node_modules

#ignore any logs
*.log

#ignore the library files
lib