<div>
	
	<!--Header-->
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div 	class='headerChalk' 
					style="color:green; text-align: center;">
				Lets Connect!
			</div>	
		</div>
	</div>

	<!--Social Media-->
	<div class="row">
		<div 	class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style='color: yellow; text-align: center;'>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Phone</div>	
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Facebook</div>	
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Instagram</div>	
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Twitter</div>	
		</div>
	</div>

	<!--Email-->
	<div style='margin-top: 20px'>
		<!--TO DO: ADD A SUCCESS ON SENDING HERE-->
		<email-helper redirect='vm.returnHome()'></email-helper>		
	</div>


</div>