<div>
	
	<!--Hero Image-->
	<div id='heroImage'>
		
	</div>	
	<!--Buy Nuts-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-3 col-xs-offset-3">
			<button class='circleBtn'>
				Buy Nuts
			</button>	
		</div>
	</div>
	
	<!--Find Us-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-3 col-xs-offset-3">
			<button class='circleBtn'>
				Find Us
			</button>	
		</div>
	</div>
	
	<!--Contact Us-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-3 col-xs-offset-3">
			<button class='circleBtn'>
				Contact Us
			</button>	
		</div>
	</div>

</div>

