<div>
	
	<!--Region Finder-->
	<div ng-if="vm.state.regionFinder.visable">
		<!--<div id='westMap' ng-if=false></div>-->
		<region-finder	location-redirect='vm.locationRedirect' states='vm.locationsModel'>
		</region-finder>
	</div>
	
	<!--Location Identifier-->
	<div ng-if="vm.state.locationLabel.visable">
		<h2 style='text-align: center'>
			Where To Find Us In <br> 
			{{vm.locationsModel[vm.selectedLocation.state].name}}
		</h2>
	</div>
	
	<!--Where To Find Us-->
	<div ng-if='vm.state.everyDayLocations.visable'>
		<h3>Everyday Locations:</h3>
	</div>

	<div ng-if='vm.state.eventsAndMarkets.visable'>
		<!--Today-->
		<h3>Events & Markets:</h3>
		<div ng-if="vm.state.locationsToday.visable">
			<locations-today selected-location='vm.locationsModel[vm.selectedLocation.state].events'>
			</locations-today>
		</div>

		<!--This Week-->
		<div ng-if="vm.state.locationsThisWeek.visable">
			<locations-this-week selectedLocation=''>
			</locations-this-week>
		</div>

		<!--Upcoming (Chronological List)-->
		<div ng-if="vm.state.locationsChronoView.visable">
			<locations-chrono-view selectedLocation=''>
			</locations-chrono-view>
		</div>
	</div>

	<!--Locations Closest To You (Map View)
	<locations-map-view></locations-map-view>-->
	
</div>