<div>
	
	<!--Header-->
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style='color:yellow'>
			<h2 style='text-align: center' id='shoppingHeader'>Shopping</h2>
		</div>
	</div>

	<!--Progress Display-->
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style='color:yellow; margin-left: 0px'>
			
			<shopping-progress-bar	active-tab='vm.currentState.activeTab'
									change-tab='vm.updateSelectedTab'>
									
			</shopping-progress-bar>

		</div>		
	</div>

	<!--Cart Summary-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id='cartSummary' style='color:yellow'>
		<cart-summary	cart='vm.cart'></cart-summary>
	</div>	

	<!--interaction Window-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
		
		<!--Select A Size-->
		<select-packaging 	ng-if='vm.currentState.activeTab==0'
							pricing='vm.priceList'
							change-tab='vm.updateSelectedTab'
							state='vm.currentState'>
		</select-packaging>
		
		<!--Fill Packaging-->
		<packaging-filler 	ng-if='vm.currentState.activeTab==1'
							style='color:yellow'
							cart='vm.cart'
							pricing='vm.priceList'
							change-tab='vm.updateSelectedTab'
							state='vm.currentState' 
							add-filled-package="vm.cart.addFilledPackage">
		</packaging-filler>

		<!--Select Shipping or Pickup-->
		<aquisition-manager style='color:yellow'
							ng-if='vm.currentState.activeTab==2'
							state='vm.currentState'>	
		</aquisition-manager>

		<!--Provide Payment-->
		<payment-manager	style='color:yellow'
							ng-if='vm.currentState.activeTab==3'>
			
		</payment-manager>	

	</div>
	
	<!--Add Another Package
	<div class="row">
		
		<button class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary">Add Another</button>
		
	</div>
	

	Proceed To Checkout
	<button class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-warning">Check-Out</button>-->

</div>