<div>
	<!--Universal Info-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<h4>Contact Information</h4>

		<!--Name-->
		<label for="">
			Name:
			<input type="text" style='color:black'>
		</label>

		<!--Contact-->
		<label for="">
			Phone:
			<input type="tel" style='color:black'>
		</label>
		
		<br>-OR-<br>

		<label for="">
			E-Mail:
			<input type="email" style='color:black'>
		</label>		

	</div>

	<!--Pick-Up-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<h4>Pick-Up</h4>

		<!--Date/Time-->
		<label for="">
			Pick-up Date:
			<input type="datetime-local" style='color:black'>
		</label>

		<!--Location-->
		<label for="">
			Location:
			<input type="text" name="" style='color:black'>
		</label>
	</div>

	<!--Shipping-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<h4>Shipping</h4>

		<!--Address-->
		<label for="">
			Street Address:
			<input type="text" name="" style='color:black'>
		</label>
		
		<!--Address-->
		<label for="">
			Street Address:
			<input type="text" name="" style='color:black'>
		</label>

		<!--Zip-->
		<label for="">
			Zip:
			<input type="number" name="" style='color:black'>
		</label>

		<!--City-->
		<label for="">
			City:
			<input type="text" name="" style='color:black'>
		</label>

		<!--State-->
		<label for="">
			State:
			<input type="text" name="" style='color:black'>
		</label>
	</div>

</div>