<div>
	<!--Header-->
	<div class='headerChalk' style="color:green">Fill Your Bags:</div>

	<!--The Grid-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">small</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">medium</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">large</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">platter</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-</div>
	</div>

	<!--Fill A Bag-->
	<bag-filler></bag-filler>
</div>