<div>
	<!--Header-->
	<div class='headerChalk' style="color:green">This Week:</div>
	
	<!--Container-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">TUE</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">WED</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">THU</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">FRI</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">SAT</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">SUN</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Bixby</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Irvine</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Anaheim</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">HB Pier</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Bixby</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Redondo</div>
	</div>
</div>