<div>
	<!--Header-->
	<div class='headerChalk' style="color:green">Fill It Up:</div>
	
	<!--Only show if a packaging has been selected-->
	<div ng-if='vm.currentlyFilling.packaging'>
		
		<!--Designate the type-->
		Type: {{vm.currentlyFilling.packaging}}
		
		<!--Provide discart button-->
		<button class='btn btn-warning' ng-click='vm.discardButtonClicked()'>discard</button>	

		<!--Platter Filler-->
		<platter-filler ng-if='vm.currentlyFilling.packaging == "platter"'></platter-filler>

		<!--Cone Filler-->
		<cone-filler ng-if='vm.currentlyFilling.packaging != "platter"'></cone-filler>
		
		<!--List of flavors-->
		<list-of-flavors></list-of-flavors>

		<!--Quantity-->
		<qty-manager qty='vm.qty'>
		</qty-manager>
		
		<!--Add to Cart Button-->
		<button class='btn btn-success' ng-click='vm.addToCart()'>Add To Cart</button>

	</div>

</div>