<div>
	
	<!--something-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style='color:yellow'>
		<h4>Payment Options</h4>

		<!--Credit Card: Number-->
		<label for="">
			Number:
			<input type="number">
		</label>
		
		<!--Credit Card: Exp-->
		<label for="">
			Expiration:
			<input type="number">
		</label>
		
		<!--Credit Card: CSV-->
		<label for="">
			CSV:
			<input type="number">
		</label>
		
		<!--Credit Card: Zip-->
		<label for="">
			Billing Zip:
			<input type="number">
		</label>

	</div>
	
</div>