<div id='progressbarDiv' style="text-align: center">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-click='vm.tabClick(0)' ng-class='vm.tabs[0].classes'>Pick</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-click='vm.tabClick(1)' ng-class='vm.tabs[1].classes'>Fill</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-click='vm.tabClick(2)' ng-class='vm.tabs[2].classes'>Where</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-click='vm.tabClick(3)' ng-class='vm.tabs[3].classes'>Pay</div>		
</div>